.vscode
*.pyc
*checkpoint.ipynb
__pycache__
shakespeare.txt
dist/
gpt_2_simple.egg-info/
build/

.idea/workspace.xml
.idea/gpt-2-simple.iml
.idea/misc.xml
.idea/workspace.xml
.idea/dictionaries
.idea/inspectionProfiles/
.DS_Store
venv
